extends layouts/master

block content
	#container.container
		#camera.threed(style='transform: translate3d(0px, -150px, 0px) rotateZ(180deg) rotateY(180deg)')
			.skybox-side.skybox-front.threed 
			.skybox-side.skybox-left.threed 
			.skybox-side.skybox-right.threed 
			.skybox-side.skybox-back.threed 
			.skybox-side.skybox-bottom.threed 
			.skybox-side.skybox-top.threed 

